.container {
  padding: 0 12rem;
}

.main {
  min-height: 100vh;
  padding: 0 4rem;
  flex: 1;
  background-color: #FFFFFF;
}

.footer {
  background-color: #191046;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}