.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.navbar li {
  display: inline;
  list-style-type: none;
  padding: 0 2rem;
  color: #070F18;
}

.navbar li:hover {
  font-weight: 500;
}